<h1>Algoritmo de Djikstra para <%= @graph %></h1>

<div class="row">
  <div class="col text-center">
    <canvas id="canvas" width="1200px" height="700px"
            data-vertices="<%= @graph.serialize_vertices %>"
            data-edges="<%= @graph.serialize_edges %>">
    </canvas>
  </div>
</div>
