<header>
  <h1>Algoritmo de Dijkstra para <%= @graph %></h1>
</header>

<div class="row">
  <div class="col text-center">
    <canvas id="canvas"
            data-vertices="<%= @graph.serialize_vertices %>"
            data-edges="<%= @graph.serialize_edges(@graph.edges) %>">
    </canvas>
  </div>
</div>
